table {
  width: 100%;
}
tr.mat-row {
  height: 55px;
}
.orders-table {
  margin-bottom: 20px;
}
.mat-column-add {
  width: 60px;
}
.mat-column-count {
  width: 25px;
}
.mat-column-remove {
  width: 60px;
  padding-left: 10px;
}
