.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.mat-card-actions {
  height: 44px;
  .table-order-button {
    position: absolute;
    right: 0px;
    margin-right: 10px;
  }
}
