.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
  // Create a box shadow that is the same color as the background
  // so that it looks like the card is casting a shadow
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.mat-card-actions {
  height: 44px;
  .table-order-button {
    position: absolute;
    right: 8px;
  }
}
